.noun {
    margin: 50px 5%;
    color: #284b63;
}

.noun-table {
    width: 100%;
    border-collapse: collapse;
    padding: 10px;
}

.noun-header {
    font-weight: bold;
}
.noun-table th, .noun-table td {
    border: 1px solid #284b63; /* Adds a solid black border around each cell */
    padding: 8px; /* Adds padding for some spacing inside cells */
    text-align: center; /* Centers text within cells */
}
  
.noun-table th {
    background-color: #f0f0f0; /* Light gray background for table headers */
    font-weight: bold; /* Make header text bold */
}
  
.noun-table td:nth-child(1) {
    text-align: left; /* Align first column (with row labels) to the left */
}
  
.noun-table td {
    width: 1fr; /* Set equal width for all table data cells */
}
  